@model IEnumerable<QuotesApp.Models.Quote>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Motivation Quotes Application</h1>
    <p>Inspiring and Motivational Quotes to uplit you</a>.</p>
    <br />
    <h1>New Quotes</h1>

  <div>
        <partial name="_QuotesList" />
  </div>
    
</div>


