@model QuotesApp.Models.Quote

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Quote</h4>
<hr />
<div class="row">
    <div class="col-md-4 my-auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-auto">
                <label asp-for="QuoteAuthor" class="control-label">Quote Author</label>
                <input asp-for="QuoteAuthor" class="form-control" />
                <span asp-validation-for="QuoteAuthor" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group my-auto">
                <label asp-for="QuoteText" class="control-label">Quote</label>
                <input asp-for="QuoteText" class="form-control" />
                <span asp-validation-for="QuoteText" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group my-auto">
                <input type="submit" value="Create" class="btn btn-primary" mt="2px" />
            </div>
        </form>
    </div>
</div>
<br />


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
